# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Workspace temporary files
workspace/**
!workspace/**/
!workspace/**/.gitkeep

# Logs
*.log

# Generated Data
data/*
!data/.gitkeep
